@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic|Open+Sans:400italic,400|Rock+Salt);
/*css stylesheets*/



/*===  Nav ===*/

.navbar {
	margin-bottom: 4px;
}

.navbar-default .navbar-brand {  /*Navbar logo*/
  color: #333333;
  font-family: 'Rock Salt', Cursive;
  text-shadow: .5x .5px 2px #0a0a0a;
  font-size: 21px;

}

.navbar-default .navbar-nav>li>a {
	color: #333333;
	text-shadow: .5x .5px 1px #0a0a0a;
	font-size: 15px;	
}

.navbar-default .navbar-nav>li>a {
	color: #333333;
	text-shadow: .5px .5px 1px #0a0a0a;
	font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #A9A9A9;



}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    text-align: center;
}

.jumboText {
	margin-top: 5px;
	font-size: 25px;
}

body {
	background-color: #DFDFDF;
}

/*=== jumbotron  ===*/

.jumbotron {
	background-image: url("../images/hero-bw2.jpg");
	background-size: cover;
	background-position: center;
	height: 600px;
	margin-top: 5px;
	padding-top: 100px;

}

h2 {
	font-family: 'Open Sans Italic' serif;
	font-size: 

}

.show-grid {
	background-color: #DDDDDD;
	border: solid 5px rgba(211,196,196, .5);
	padding: 10px;
	height: auto;
}

#about  {
	min-height: 500px;  /*used to make the scroll pages the same size  aded to 
	pages with minimum content*/
}

.headshot {
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 5px;
}

.img-rounded {
  border-radius: 100px;
}

#about {
	margin-top: 50px;
	margin-bottom: 50px;
}

#aboutText {
	font-family: 'Source Sans Pro', Sans-Serif;
	font-size: 19px;
	margin-right: 5px;  
}

.img-box {
	border-radius: 106px;
}

img:hover {
	box-shadow: 4px 4px 4px #888888;
}



.moreInfo {
	padding-top: 21px;
	margin-left: 10px;
}

a {
	color: #6a88a5;
}
.services {
	height: 400px;
}

.frontSell {
	padding-left: 10px;
	padding-right: 10px;
}

.footer {

	background-color: #F8F8F8;
	
}



/*.show-foot div {
	background-color: #F8F8F8;
	
	padding: 10px;
	height: auto;
}
*/
/*===  Social Icons  ===*/


.social-icons {
	
}

center {
	padding-top: 10px;
}
.fa {  /*this is for font style of the icon*/
    /*background-color: rgba(141,198,63,9);*/
    /*border: 3px solid #bebebe;
    border-radius: 206px;*/
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    width: 42px;
    color: #333333;  /*social inside font color*/
}

.fa:hover {
   /* background-color: #D0D1D5;
    border: 3px solid #bebebe;*/
    color: #A9A9A9;
    text-shadow: 2px 2px #6a88a5;

}

.fa-facebook {
/*    background-color: #45609D; */  /*this is blue from the facebook webpage */
}

.fa-twitter {
    /*background-color: #3366CC;*/  /*this is sky blue from the twitter web page */
}

.fa-linkedin {
    /*background-color: #0274B3;*/  /*this is a blue from the Instagram web page */
}

.phoneNumber {
	text-align: center;

}

.email {
	text-align: center;
	
}

.contact {
	height: 75px;
	margin-top: 5px;
}

.contactInfo {
	margin: 0px;

}

.copyright {
			margin-bottom: 0px;
			padding: 5px;
		}


/*===  media queries  ===*/

@media screen and (max-width: 360px) {
    
    /*.headshot {
	    margin: 15px;	
		padding-bottom: 500px;
		padding-right: 50px;
		padding-left: 20px;
		padding-top: 30px;*/

}


@media screen and (max-width: 768px) {
    
   /* .headshot {
	    margin: 15px;	
		padding-bottom: 100px;
		padding-right: 55px;
		padding-left: 55px;*/
		.jumboText {
			font-size: 19px;
		}







.sellText {
	margin-top: 12px;
}

    h2 {
      font-size: 18px;  
    }

	.fa-3x {
    font-size: 2em;
}
	#aboutText	{
		font-size: 18px;
	}


}

@media screen and (min-width: 1240px) {

	.headshot {
		padding-bottom: 15px;
	}
	.jumbotron {
		padding-top: 50px;
	}


}


/*===  Portfolio  ==*/

.portfolio1 {
	height: 200px;
}

/*.meldepo {
	background-image: url("../images/meldepo1.jpg");

}*/


/*===  Contact Page  ===*/


#resumeText {
    position: relative;
    bottom: 190px;
    
    font-size: 35px;
    color: #565454;
    font-family: 'Rock Salt', Cursive;
    text-align: center;
    z-index: 1;
}

.contactImg {
	border-radius: 40px;
	margin-bottom: 15px;
}

#contactText {
	font-family: 'Source Sans Pro', Sans-Serif;
}


